@import url('https://fonts.googleapis.com/css?family=Dosis|Indie+Flower');

@keyframes enfatizza
{
    0% {filter: contrast(50%); filter: sepia(90%);}
    50% {filter: contrast(300%); filter: sepia(10%);}
    100% {filter: contrast(50%); filter: sepia(90%);}
}

#intro
{
  position: absolute;
  width: 34vw;
  left: 32vw;
  top: 2vw;
  font-size: 3vw;
  text-align: center;
  color: white;
}

img.immagineS
{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

body
{
  margin: 0;
  font-family: "Dosis";
  animation: sfondo 10s infinite;
}

input[type="radio"]
{
  position: absolute;
  opacity: 0;
}

form
{
  user-select: none;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
}

button:hover {

}

.domanda
{
  position:absolute;
  width: 30vw;
  top: 10vw;
  left: -50vw;
  font-size: 1.8vw;
  padding: 2vw;
  min-width: 300px;
  z-index: 6;
  transition: all 1s ease-in-out;
  color: white;
}

.nascosto
{
  left: -50vw;
}

.nascosto1
{
  opacity: 0;
}

.visibile
{
  left: 32vw;
}

#riqSfondo
{
  position:absolute;
  padding: 2vw;
  width: 30vw;
  top: 10vw;
  left: 32vw;
  background-color: #151515;
  opacity: 0.7;
  height: 20vw;
  z-index: 5;
}

input:checked + .radioB {
  background-color: white !important;
}

input:checked + .radioB:after
{
  display: block;
}

label
{
  cursor: pointer;
  padding-left: 2.5vw;
}

input:hover + .radioB
{
  background-color: #777777;
}

.radioB
{
  position: absolute;
  background-color: #AAAAAA;
  border-radius: 50%;
  width: 1.5vw;
  height: 1.5vw;
  left: 2.5vw;
  margin-top: 0.3vw;
  border: 1px solid black;
}

.radioB:after
{
  content: "";
  width: 0.5vw;
  height: 0.5vw;
  top: 0.5vw;
  left: 0.5vw;
  position: absolute;
  display: none;
  background: black;
  border-radius: 50%;
}

.indietro
{
  float: left;
  color: #202020;
  background-color: #DDDDDD;
}

.indietro:hover {
  border-bottom: 2px solid #202020;
}

.avanti
{
  float: right;
  color: #DDDDDD;
  background-color: #202020;
}

.avanti:hover {
  border-bottom: 2px solid #DDDDDD;
}

.vai
{
  float: right;
}

button
{
  padding: 0.5vw 1vw 0.5vw 1vw;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: none;
  font-size: 2vw;
  font-family: "dosis";
}
